@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

:root {
  background-color: #5fbb97;
  font-family: "Roboto", sans-serif;
}

/* Style the main content */
#app {
  max-width:80%;
  margin: 0 auto;
  margin-top: 40px;
  padding: 5%;
  background-color: #ffffff;
}

/* Style the header */
header {
  /* padding: 20px; */
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-link a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

/* Style the controls */
#controls {
  margin-top: 60px;
  margin-bottom: 20px;
}

label[for="radius"] {
  display: block;
  margin-top: 10px;
}

#radius-input {
  width: 100%;
}

.btn-holder {
  margin-top: 10px;
  width: 50px;
  height: 26px;
  border-radius: 18px;
  background-color: #F7D6A3;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;

  .btn-circle {
      background-color: #6B5E8A;
      transform: translateX(0px);
      border-radius: 50%;
      width: 20px;
      height: 20px;
      transition: 300ms;
  }

  .active {
      background-color: rgb(218, 114, 80);
      transform: translateX(30px);
      transition: 300ms;
  }

  .checkbox {
      display: none;
  }
}

#address-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

#geolocate {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#geolocate:hover {
  background-color: #555;
}

#map {
  height: 90vh; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
}

#about {
    margin-top: 40px;
    line-height: 25px;
}